.user-profile-container {
    margin-top: 50px;
    padding: 20px;
    color: #5A3A31;
}

.profile-content {
    background: #dedbd289;
    border: 2px solid #5A3A31;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-table th,
.profile-table td {
    vertical-align: middle;
}

.profile-nav-tabs .nav-link.active {
    background-color: #5A3A31;
    color: #ffffff;
    border: solid 2px #5A3A31;
}

.profile-nav-tabs .nav-link {
    color: #2F3D14;
}

.profile-btn-primary {
    background: #B68125;
    border-color: #5A3A31;
}

.profile-btn-primary:hover {
    background-color: #5A3A31;
    border-color: #B68125;
}

.profile-badge {
    font-size: 90%;
}

.form-label-profilo {
    color: #5A3A31;
}

.titolo-profilo {
    color: #5A3A31;
}
